.place-center {
    background: url(../images/starPlayers/344223.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.img {

    width: 256px;
    margin: auto;
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}