
/* import bulma css from: https://bulma.io/documentation/overview/start/ */
/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" */


/* ---------- mx: google fonts ------------ */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ------------------ chris divider ----------------- */
/* --------- carousel css----------- */
.slider-text {
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0
  }
  
#slider .card-content{
    max-width: auto;
  }
  
#slider{
    overflow: hidden;
  }
  
@media screen and (max-width: 1023px) {
    #slider .card-content{
      display: none;
    }
  }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.numbertext {
  
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 1200px;
}

/* ------------chris divider ----------------- */

/* ----------- ⬇ mx: divider ⬇ ----------- */
/* ⬇ to be modified⬇ */
.player-box { /* mx: player page css 2nd page */
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
}

.go-back-btn {
  position: relative;
  left: 40%;
}
/*  ⬆to be modified⬆ */

/* ------------- mx: ⬇ option player stats page(table) ⬇ ---------------- */
.option-player-page {
  background: url("https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#nba-data-header {
  padding-top: 5%;
  font-family: "Audiowide", cursive;
  text-shadow: 0px 3px 0px #6b6b6b, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

#nba-data-header h1 {
  margin-bottom: 4%;
}

#nba-data-header h5 {
  margin: 1%;
}


.display-api-data {
  margin: 1% 5%;
  font-family: "Poppins", sans-serif;
}

.display-api-data .table {
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.option-player-page #go-back {
  text-decoration: none;
}

.option-player-page .go-back-btn {
  border-radius: 10px;
  display: flex;
}

.option-player-page .go-back-btn:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}


/* ----------- ⬆ mx: divider ⬆ ----------- */


/* ----------- ⬆ mx: divider ⬆ ----------- */

/* ----------- mx: search input ---------- */
#user-input-div {
  line-height: 200%;
}

#user-input-div button {
  margin-top: 1%;
}

/* ----------- ⬆ mx: divider ⬆ ----------- */

